body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

a {
  color: #00B7FF;
}

header h1 {
  text-align: center;
}

.todoList {
  text-align: center;
}

.list-header {
  display: flex;
  justify-content: center;
}

.list-header-item {
  margin: 0 10px;
}

.list-header-item:nth-of-type(1) {
  width: 20px;
  height: 20px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}

form div {
  margin: 0 10px;
}

.text-div {
  width: 30%;
}

.text-div input {
  width: 100%;
  font-size: 12px;
}

.schedule {
  width: 25%;
  max-width: 200px;
}

.todoDate {
  width: 50%;
  height: 13px;
  font-size: 12px;
}

.todoTime {
  width: 35%;
}

.todoDate .todoTime {
  display: inline-block;
}

.checkbox {
  width: 20px;
  height: 20px;
  padding: 0;
  border: solid 1px #3a3939;
  border-radius: 50%;
}

.checked>.checkbox {
  background-color: skyblue;
}

.post-todo div:first-of-type {
  width: 20px;
}

.post-todo div:nth-of-type(3) {
  text-align: center;
}

#display-hide-btn {
  text-decoration: underline;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.hidden {
  display: none;
}