body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
  width: 75%;
  max-width: 540px;
  margin: 0 auto;
  text-align: center;
}

header h1 {
  text-align: center;
}

.todoList {
  text-align: center;
}

.list-header {
  display: flex;
  justify-content: space-evenly;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}

form div {
  margin: 0 10px;
}

.checkbox {
  width: 20px;
  height: 20px;
  padding: 0;
  border: solid 1px #3a3939;
  border-radius: 50%;
}

.post-todo div:first-of-type {
  width: 22px;
}